pexels_key.txt
pixabay_key.txt
elevenlabs_key.txt
huggingface_token.txt
shorts.db
shorts_single.db
__pycache__/
audio_clips/
video_output/
uploaded_assets/
b_roll_library/
main.zip
pop_sfx.wav
whoosh_sfx.wav
pop_sfx.wav
temp_test.mp3
temp_test.vtt
*.mp3
*.wav
*.vtt
*.srt
*.mp4
